<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<title>The Better Bookstore: Categories</title>
	<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<style>
	body {background-color:rgb(84, 89, 94);}
	h1 {color:white;}
	</style>
</head>
<body>
	<div class="container">
	<h1>Categories</h1>
	<table class="table table-dark">
		<thead>
		<tr>
		<th>ID</th>
		<th>Category</th>
		</tr>
		</thead>
		<tbody>
			<tr th:each = "category : ${categories}">
				<td th:text = "${category.idCategory}"></td>
				<td th:text = "${category.name}"></td>
			</tr>
		</tbody>
	</table>
	<a href="/addc" class="btn btn-success">Add Category</a>
	</div>
</body>
</html>